<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jarvis Interface</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div id="jarvis-visualizer">
        <div class="orb-wrapper">
          {/* This wrapper will be the reference for the orb's size */}
          <div id="jarvis-orb"></div>
        </div>
        {--
        <div id="jarvis-waveform">
          --} {/* Waveform can be re-enabled if desired */} {--
        </div>
        --}
      </div>
      <div id="jarvis-text-output">
        <p>Initializing Interface...</p>
      </div>
      <div id="status-indicator">Connecting...</div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
